body {
    font-family: 'Monospace', Times, serif;
    background-color: rgb(21, 20, 21);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.converter {
    background-color: #f1f108;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 24px;
}

.input-container {
    margin-top: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #121214;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.result {
    margin-top: 25px;
}

p {
    font-size: 20px;
}

span {
    font-weight: bold;
    color: #0b0b0c;
}